
.main-card {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.left-panel, .right-panel {
  flex: 1;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay-text h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.overlay-text p {
  font-size: 1rem;
  opacity: 0.8;
}
.auth-container {
   flex: 1;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  padding: 2rem 2.5rem;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: #9bde14;
  margin: auto;
  animation: fadeIn 0.6s ease;

}

.auth-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 800;
  
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 40px 12px 40px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  outline: none;
}

.input-wrapper input::placeholder {
  color: #ddd;
}

.input-icon {
  position: absolute;
  left: 12px;
  color: #ffffffcc;
  font-size: 1rem;
}

.eye-toggle {
  position: absolute;
  right: 12px;
  color: #ffffffaa;
  cursor: pointer;
}

.auth-container button {
  padding: 12px;
  margin-top: 0.5rem;
  background: linear-gradient(to right, #5a67d8, #667eea);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-container button:hover {
  background: linear-gradient(to right, #4c51bf, #5a67d8);
}

.switch {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.switch span {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}