@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: style anchor globally if needed */
a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
