.dashboard-container {
  width: 100%;
  margin: 5% auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(12px);
}

.dashboard-container button {
  margin-top: 1.5rem;
  padding: 10px 20px;
  border: none;
  background: #667eea;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.header {
  padding: 10px;
  width: 100%;
  display:inline-flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.header-button {
  margin-top: 1.5rem;
  padding: 10px 20px;
  border: none;
  background: wheat;
  color: indigo;
  font-weight:bold;
  border-radius: 10px;
  cursor: pointer;
}
.header-button :hover{
  background-color: gray;
}
.header h1{
  font-weight: bold;
  font-size: xx-large;
}
